<h1 id="ip"></h1>
<style>
    h1 {
        text-align: center;
        font-size: 10vw;
    }
</style>
<script>
    const req = new XMLHttpRequest();
    req.open('HEAD', document.location, false);
    req.send(null);

    const headers = req.getAllResponseHeaders();
    const arr = headers.trim().split(/[\r\n]+/);
    const headerMap = {};

    arr.forEach(function (line) {
        const parts = line.split(': ');
        const header = parts.shift();
        const value = parts.join(': ');
        headerMap[header] = value;
    });

    const ip = headerMap['x-forwarded-for'] || headerMap['x-real-ip'];

    console.log(ip);

    document.getElementById('ip').innerHTML = ip.split(', ')[0];
</script>
